.ball {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #b91c1c;
}

.ballFix {
    animation: bounceAndFade 2.75s infinite ease-in-out;
}

.ball2 {
    animation: bounceAndFade 2.75s infinite 1.25s ease-in-out;
}

/* .ball3 {
    animation: bounceAndFade 2.75s infinite 1.5s ease-in-out;
} */

.ball4 {
    animation: bounceAndFade 2.75s infinite 1.25s ease-in-out;
}

@keyframes bounceAndFade {
    0%, 100% {
        transform: translateY(0);
        background-color: #b91c1c;
    }

    50% {
        transform: translateY(-15px);
        background-color: #C66666;
    }
}